In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved
city_data_df= pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pozo Colorado,PY,2021-04-21 17:46:52,-23.4923,-58.7972,96.30,22,21,8.21
1,1,Clyde River,CA,2021-04-21 17:46:53,70.4692,-68.5914,10.40,92,75,11.50
2,2,Bilma,NE,2021-04-21 17:46:53,18.6853,12.9164,94.32,7,0,9.08
3,3,Sao Filipe,CV,2021-04-21 17:46:53,14.8961,-24.4956,73.22,71,100,10.65
4,4,Victoria,HK,2021-04-21 17:43:57,22.2855,114.1577,73.99,81,0,1.01

In [3]:
# Configure gmaps to use the Google API key
gmaps.configure(api_key=g_key)

In [11]:
# Heatmaps of Temperatures
# Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,max_intensity=300,
                                point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure the plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations= city_data_df[['Lat','Lng']]
humidity= city_data_df['Humidity']
fig= gmaps.figure(center=(30.0,31.0),zoom_level=1.4)
heat_layer= gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=300,
                               point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations= city_data_df[['Lat','Lng']]
clouds= city_data_df['Cloudiness']
fig= gmaps.figure(center=(30.0,31.0), zoom_level=1.4)
heat_layer= gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,
                               point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations= city_data_df[['Lat','Lng']]
wind= city_data_df['Wind Speed']
fig= gmaps.figure(center=(30.0,31.0), zoom_level=1.4)
heat_layer= gmaps.heatmap_layer(locations,weights=wind,dissipating=False,max_intensity=300,
                               point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Assk the customer to add a minimum and maximum temperature value
min_temp= float(input("What is the minimum temperature you would like for your trip? "))
max_temp= float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df= city_data_df[(city_data_df['Max Temp']<= max_temp) & \
                                 (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Salalah,OM,2021-04-21 17:46:54,17.0151,54.0924,81.12,74,98,5.46
15,15,Hurghada,EG,2021-04-21 17:46:56,27.2574,33.8129,78.80,36,0,18.41
16,16,Hithadhoo,MV,2021-04-21 17:46:56,-0.6000,73.0833,82.99,66,63,4.76
19,19,Port-Gentil,GA,2021-04-21 17:46:57,-0.7193,8.7815,84.20,84,40,4.61
24,24,El Alto,PE,2021-04-21 17:46:59,-4.2714,-81.2147,84.20,54,0,16.11
28,28,Marsh Harbour,BS,2021-04-21 17:47:00,26.5412,-77.0636,80.53,74,100,12.50
29,29,Road Town,VG,2021-04-21 17:47:01,18.4167,-64.6167,81.00,77,3,7.00
30,30,Arraial Do Cabo,BR,2021-04-21 17:47:01,-22.9661,-42.0278,78.80,78,0,18.41
35,35,George Town,MY,2021-04-21 17:45:11,5.4112,100.3354,82.40,89,40,2.30
42,42,Praia,CV,2021-04-21 17:47:05,14.9215,-23.5087,77.00,57,75,16.11

In [18]:
preferred_cities_df.count()

City_ID       197
City          197
Country       194
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [21]:
preferred_cities_df=preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df= preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name']= ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
8           Salalah      OM     81.12  17.0151   54.0924
15         Hurghada      EG     78.80  27.2574   33.8129
16        Hithadhoo      MV     82.99  -0.6000   73.0833
19      Port-Gentil      GA     84.20  -0.7193    8.7815
24          El Alto      PE     84.20  -4.2714  -81.2147
28    Marsh Harbour      BS     80.53  26.5412  -77.0636
29        Road Town      VG     81.00  18.4167  -64.6167
30  Arraial Do Cabo      BR     78.80 -22.9661  -42.0278
35      George Town      MY     82.40   5.4112  100.3354
42            Praia      CV     77.00  14.9215  -23.5087

In [23]:
# Set parameters to search for a hotel
params= {
    'radius':5000,
    'type':'lodging',
    'key':g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Salalah,OM,81.12,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
15,Hurghada,EG,78.80,27.2574,33.8129,Sea Star Beau Rivage Hotel
16,Hithadhoo,MV,82.99,-0.6000,73.0833,Scoop Guest House
19,Port-Gentil,GA,84.20,-0.7193,8.7815,Fengshui Residence
24,El Alto,PE,84.20,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje
28,Marsh Harbour,BS,80.53,26.5412,-77.0636,Abaco Beach Resort
29,Road Town,VG,81.00,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
30,Arraial Do Cabo,BR,78.80,-22.9661,-42.0278,Pousada Porto Praia
35,George Town,MY,82.40,5.4112,100.3354,Cititel Penang
42,Praia,CV,77.00,14.9215,-23.5087,LT Aparthotel

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig= gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,max_intensity=300,
                               point_radius=4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))