## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [26]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,East London,ZA,-33.0153,27.9116,67.93,81,93,2.51,overcast clouds
1,1,Busselton,AU,-33.6500,115.3333,53.01,96,100,9.35,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,50.00,53,0,0.51,clear sky
3,3,Punta Arenas,CL,-53.1500,-70.9167,46.40,66,0,9.22,clear sky
4,4,Sergeyevka,KZ,53.8800,67.4158,40.17,71,49,5.30,scattered clouds

In [27]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp= float(input("What is the minimum temperature you would like for your trip? "))
max_temp= float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city= city_data_df.loc[(city_data_df['Max Temp']> min_temp) & (city_data_df['Max Temp'] < max_temp),:]
preferred_city.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Bharatpur,IN,27.2167,77.4833,76.6,35,3,5.93,clear sky
11,11,Hambantota,LK,6.1241,81.1185,79.2,83,28,10.36,scattered clouds
12,12,Saint George,US,37.1041,-113.5841,79.0,6,1,26.46,clear sky
15,15,Saint-Philippe,RE,-21.3585,55.7679,77.0,83,75,16.11,broken clouds
16,16,Paita,PE,-5.0892,-81.1144,84.2,54,0,16.11,clear sky

In [29]:
# 4a. Determine if there are any empty rows.
preferred_city.count()

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df= preferred_city.dropna()
clean_df.count()

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Bharatpur,IN,76.60,clear sky,27.2167,77.4833,
11,Hambantota,LK,79.20,scattered clouds,6.1241,81.1185,
12,Saint George,US,79.00,clear sky,37.1041,-113.5841,
15,Saint-Philippe,RE,77.00,broken clouds,-21.3585,55.7679,
16,Paita,PE,84.20,clear sky,-5.0892,-81.1144,
25,Sao Francisco,BR,84.49,overcast clouds,-15.9486,-44.8644,
29,Santo Domingo,DO,89.60,few clouds,18.5001,-69.9886,
30,Santa Cruz,BO,84.20,broken clouds,-17.8000,-63.1667,
31,Caravelas,BR,77.49,overcast clouds,-17.7125,-39.2481,
32,Laguna,US,75.99,clear sky,38.4210,-121.4238,

In [33]:
g_key

'AIzaSyBoWbnRXf2VoXmcUa1x_zAHS_uv0T81Drw'

In [36]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [41]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df.count()

City                   226
Country                226
Max Temp               226
Current Description    226
Lat                    226
Lng                    226
Hotel Name             226
dtype: int64

In [44]:
# 8a. Create the output File (CSV)
output_data_file= '../Vacation_Search/WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [45]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map. 
fig= gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))